* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    overflow: hidden;

    font-family: Inter, sans-serif;

    background: #08111f;
    color: #e2e8f0;
}

body {
    background:
        radial-gradient(circle at top, #132238 0%, #08111f 45%),
        #08111f;
}